[snapraid]
; path to the snapraid executable (e.g. /bin/snapraid)
executable = snapraid
; path to the snapraid config to be used
config = snapraid.conf
; abort operation if there are more deletes than this, set to -1 to disable
deletethreshold = 40
; if you want touch to be ran each time
touch = false

[logging]
; logfile to write to, leave empty to disable
file = snapraid.log
; maximum logfile size in KiB, leave empty for infinite
maxsize = 5000

[notification]
enabled = true

; when to send a notificariton on, comma-separated list of [success, error]
sendon = success,error

; set to false to get full programm output
short = true

; Python Apprise config.
; https://github.com/caronc/apprise/wiki/config_yaml
config = apprise.yml

; maximum email size in KiB
maxsize = 500

[scrub]
; set to true to run scrub after sync
enabled = false
percentage = 12
older-than = 10
